body{
    margin: 0;
    padding: 0;
}

.sec{
    margin: 12% auto;
    padding: 3%;
    text-align: center;
    border: 2px solid #222;
    box-shadow: 0 0 20px #222;
    color: #222;
    border-radius: 5px;
    width: 20%;
    transition: all 500ms;
}

.sec:hover {
    transform: translateY(-5px);
    box-shadow: 0 20px 30px;
}

.sec div:last-child{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    border-top: 2px solid #222;
    padding-top: 5%;
}

.sec div:last-child button{
    width: 46%;
    height: 5vh;
    margin: 2%;
    border: none;
    border-radius: 5px;
    transition: all 400ms;
    background-color: #1e90ff;
}

.sec div:last-child button:hover{
    width: 46%;
    height: 5vh;
    margin: 2%;
    border: none;
    border-radius: 10px;
    color: #fff;
    background-color: #222;
}
